<!DOCTYPE html>
<html>
<head>
    <title>Bike Demand Models</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<h1>Bike Demand Prediction Models</h1>

<div class="grid">
    <a class="card" href="/model/lightgbm">LightGBM</a>
    <a class="card" href="/model/Simple Linear">Simple Linear</a>
    <a class="card" href="/model/Multiple Linear">Multiple Linear</a>
    <a class="card" href="/model/KNN">KNN</a>
    <a class="card highlight" href="/comparison">Model Comparison</a>
</div>

</body>
</html>
